# Byte-compiled / optimized / DLL files

__pycache__/

*.py[cod]

*$py.class



# C extensions

*.so



# Distribution / packaging

.Python

build/

develop-eggs/

dist/

downloads/

eggs/

.eggs/

lib/

lib64/

parts/

sdist/

var/

wheels/

*.egg-info/

.installed.cfg

*.egg

MANIFEST



# PyInstaller

#  Usually these files are written by a python script from a template

#  before PyInstaller builds the exe, so as to inject date/other infos into it.

*.manifest

*.spec



# Installer logs

pip-log.txt

pip-delete-this-directory.txt



# Unit test / coverage reports

htmlcov/

.tox/

.coverage

.coverage.*

.cache

nosetests.xml

coverage.xml

*.cover

.hypothesis/



# Translations

*.mo

*.pot



# Django stuff:

*.log

.static_storage/

.media/

local_settings.py



# Flask stuff:

instance/

.webassets-cache



# Scrapy stuff:

.scrapy



# Sphinx documentation

docs/_build/



# PyBuilder

target/



# Jupyter Notebook

.ipynb_checkpoints



# pyenv

.python-version



# celery beat schedule file

celerybeat-schedule



# SageMath parsed files

*.sage.py



# Environments

.env

.venv

env/

venv/

ENV/

env.bak/

venv.bak/



# Spyder project settings

.spyderproject

.spyproject



# Rope project settings

.ropeproject



# mkdocs documentation

/site



# mypy

.mypy_cache/
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0003_1_ProbMapClass0.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0003_1_ProbMapClass1.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0003_1_ProbMapClass2.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0003_1_ProbMapClass3.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0003_1_ProbMapClass4.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0003_1_Segm.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0004_1_ProbMapClass0.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0004_1_ProbMapClass1.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0004_1_ProbMapClass2.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0004_1_ProbMapClass3.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0004_1_ProbMapClass4.nii.gz
examples/output/predictions/trainSessionWithValidTiny/predictions/pred_brats_2013_pat0004_1_Segm.nii.gz
examples/output/saved_models/trainSessionWithValidTiny/tinyCnn.trainSessionWithValidTiny.2022-03-24.08.32.37.620135.model.ckpt.data-00000-of-00001
examples/output/saved_models/trainSessionWithValidTiny/tinyCnn.trainSessionWithValidTiny.2022-03-24.08.32.37.620135.model.ckpt.index
examples/output/saved_models/trainSessionWithValidTiny/tinyCnn.trainSessionWithValidTiny.2022-03-24.08.33.31.719976.model.ckpt.data-00000-of-00001
examples/output/saved_models/trainSessionWithValidTiny/tinyCnn.trainSessionWithValidTiny.2022-03-24.08.33.31.719976.model.ckpt.index
examples/output/saved_models/trainSessionWithValidTiny/tinyCnn.trainSessionWithValidTiny.final.2022-03-24.08.33.49.357830.model.ckpt.data-00000-of-00001
examples/output/saved_models/trainSessionWithValidTiny/tinyCnn.trainSessionWithValidTiny.final.2022-03-24.08.33.49.357830.model.ckpt.index
examples/output/saved_models/trainSessionWithValidTiny/tinyCnn.trainSessionWithValidTiny.initial.2022-03-24.08.31.58.481324.model.ckpt.data-00000-of-00001
examples/output/saved_models/trainSessionWithValidTiny/tinyCnn.trainSessionWithValidTiny.initial.2022-03-24.08.31.58.481324.model.ckpt.index
examples/output/tensorboard/trainSessionWithValidTiny/train/events.out.tfevents.1648124959.dl
examples/output/tensorboard/trainSessionWithValidTiny/train/events.out.tfevents.1648125094.dl
examples/output/tensorboard/trainSessionWithValidTiny/val/events.out.tfevents.1648124960.dl
examples/output/tensorboard/trainSessionWithValidTiny/val/events.out.tfevents.1648125094.dl
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-08.15.01.05.530140.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-08.15.01.05.530140.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-08.22.58.57.069201.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-08.22.58.57.069201.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-09.06.54.38.407911.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-09.06.54.38.407911.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-09.14.15.07.978258.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-09.14.15.07.978258.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-09.22.11.47.028004.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-09.22.11.47.028004.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-10.06.06.42.565984.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-10.06.06.42.565984.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-10.14.02.42.642883.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-10.14.02.42.642883.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-10.21.57.47.527633.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-10.21.57.47.527633.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-11.05.53.00.705620.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-11.05.53.00.705620.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-11.13.13.01.896630.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-11.13.13.01.896630.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-11.21.09.10.015112.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-11.21.09.10.015112.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-12.05.04.45.941106.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-12.05.04.45.941106.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-12.13.00.02.183749.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-12.13.00.02.183749.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-12.20.55.37.000459.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-12.20.55.37.000459.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-13.04.41.57.848326.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-13.04.41.57.848326.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-13.10.57.22.522069.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-13.10.57.22.522069.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-13.17.02.31.018826.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-13.17.02.31.018826.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-13.23.07.53.244676.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-13.23.07.53.244676.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-14.05.13.26.227692.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-14.05.13.26.227692.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-14.11.18.43.198458.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-14.11.18.43.198458.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-14.17.24.03.097949.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-14.17.24.03.097949.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-14.23.29.06.092533.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-14.23.29.06.092533.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-15.05.34.16.793277.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-15.05.34.16.793277.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-15.11.39.15.582335.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-15.11.39.15.582335.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-15.17.44.12.815388.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-15.17.44.12.815388.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-15.23.48.55.391818.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-15.23.48.55.391818.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-16.05.53.34.526657.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-16.05.53.34.526657.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-16.11.58.11.482745.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-16.11.58.11.482745.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-16.18.02.43.269307.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-16.18.02.43.269307.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-17.00.06.56.598832.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-17.00.06.56.598832.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-17.06.11.21.683814.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-17.06.11.21.683814.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-17.12.15.43.662527.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-17.12.15.43.662527.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-17.18.20.15.656602.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-17.18.20.15.656602.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-18.00.24.54.221063.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-18.00.24.54.221063.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-18.06.29.38.104509.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.2022-04-18.06.29.38.104509.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.final.2022-04-18.06.29.39.007547.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.final.2022-04-18.06.29.39.007547.model.ckpt.index
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.initial.2022-04-08.06.51.33.502260.model.ckpt.data-00000-of-00001
examples/outputHNC_f0/saved_models/trainSessionHNC0/deepMedicHNC_f1.trainSessionHNC0.initial.2022-04-08.06.51.33.502260.model.ckpt.index
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-18.12.44.09.393742.model.ckpt.data-00000-of-00001
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-18.12.44.09.393742.model.ckpt.index
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-18.18.52.21.659330.model.ckpt.data-00000-of-00001
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-18.18.52.21.659330.model.ckpt.index
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-19.00.58.02.580881.model.ckpt.data-00000-of-00001
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-19.00.58.02.580881.model.ckpt.index
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-19.07.06.34.364388.model.ckpt.data-00000-of-00001
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-19.07.06.34.364388.model.ckpt.index
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-19.13.19.33.681135.model.ckpt.data-00000-of-00001
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-19.13.19.33.681135.model.ckpt.index
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-19.19.34.51.251361.model.ckpt.data-00000-of-00001
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-19.19.34.51.251361.model.ckpt.index
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-20.01.52.02.516494.model.ckpt.data-00000-of-00001
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.2022-04-20.01.52.02.516494.model.ckpt.index
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.initial.2022-04-18.06.32.17.601252.model.ckpt.data-00000-of-00001
examples/outputHNC_f1/saved_models/trainSessionHNC1/deepMedicHNC_f0.trainSessionHNC1.initial.2022-04-18.06.32.17.601252.model.ckpt.index
examples/outputHNC_f1/tensorboard/trainSessionHNC1/train/events.out.tfevents.1650277847.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/train/events.out.tfevents.1650456615.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/train/events.out.tfevents.1650458198.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/train/events.out.tfevents.1650458303.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/train/events.out.tfevents.1650458338.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/train/events.out.tfevents.1650542622.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/val/events.out.tfevents.1650277848.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/val/events.out.tfevents.1650456616.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/val/events.out.tfevents.1650458199.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/val/events.out.tfevents.1650458304.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/val/events.out.tfevents.1650458339.dl
examples/outputHNC_f1/tensorboard/trainSessionHNC1/val/events.out.tfevents.1650542623.dl
examples/outputHNC_f2/saved_models/trainSessionHNC2/deepMedicHNC_f2.trainSessionHNC2.initial.2022-04-20.05.58.35.647475.model.ckpt.index
examples/outputHNC_f0/tensorboard/trainSessionHNC0/train/events.out.tfevents.1649414988.dl
examples/outputHNC_f0/tensorboard/trainSessionHNC0/val/events.out.tfevents.1649414989.dl
examples/outputHNC_f2/tensorboard/trainSessionHNC2/train/events.out.tfevents.1650448650.dl
examples/outputHNC_f2/tensorboard/trainSessionHNC2/val/events.out.tfevents.1650448650.dl
examples/outputHNC_f2/saved_models/trainSessionHNC2/deepMedicHNC_f2.trainSessionHNC2.initial.2022-04-20.05.58.35.647475.model.ckpt.data-00000-of-00001
